/*--------------------------------------------------------------\
| Reuben Turner
\--------------------------------------------------------------*/

/* yellow: #fff59d 
light gray: #ecf0f1
darker gray: #b2b5aa
darker orange: #a6460d
dark blue: #002a5c
lighter blue: #15c */

html{
	height: 100%;
}
body{
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
}
#headerDiv{
	background-color: #002a5c;
	color: white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 1px;
	text-align: center;
}
#headerDiv ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: inline-block;
}
#headerDiv li{
	display: inline-block;
	color: white;
}
#headerDiv a{
	padding: 10px;
	color: white;
}
#headerDiv a:hover{
	text-decoration:none;
	color: #fff59d;
}
.mainDivsHeader{
	background-color: #ecf0f1;
	text-align: center;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
#tabDiv{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 2.5%;
}
#tabDiv a{
	color: #15c;
}
#tabDiv a:hover{
	color: black;
	cursor: pointer;
}
#listContainer{
	margin-left: 10%;
	width: 36%;
	margin-top: 2.5%;
	float: left;
}
#chartContainer{
	height: 300px; 
	display:inline-block;
	margin-top:5%;
	margin-left:12.5%;
}
#projectListDiv{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	align-items: center;
	display: inline-flex;
	border: 1px solid #b2b5aa;
	border-radius: 5px 5px 0 0;
	/* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75); */
	float: left;
	max-height: 325px;
}
#calendarDiv{
	width: 40%;
	float: right;
	margin-top: 2.5%;
	margin-right: 10%;
	/* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	padding: 10px;
	border-radius: 5px; */
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #c2c2a3;
}
#calendar > div.fc-view-container > div > table > thead > tr > td > div{
	background-color: #b2b5aa;
}
.tableDiv{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
#listContainer a{
	color: #15c;
}
#listContainer a:hover{
	text-decoration:none;
	color:#002a5c;
}

/* -- createMember.html styles -- */
.wrapper{
	border: 1px solid #b2b5aa;
	border-radius: 5px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	/* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75); */
}
#ctmHeader{
	text-align: center;
	background-color: #ecf0f1;
	padding: 1px;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #b2b5aa;
}
#ctmDiv{
	padding: 15px;
}

/* -- createTeam.html styles -- */
#ctDiv{
	padding: 15px;
}
#membersToAdd{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	width: 80%;
}

/* -- createProject.html styles -- */
#cpDiv{
	padding: 15px;
}
#cpDiv textarea{
	resize: none;
}

/* viewAllTeams.html styles */
#teamList{
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#teamList tbody{
	font-size: 16px;
}

/* viewAllProjects.html styles */
#projectList{
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#projectList tbody{
	font-size: 16px;
}

/* viewAllMembers.html styles */
#memberList{
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#memberList tbody{
	font-size: 16px;
}

#popupNoteInput{
	resize: none;
}

.modal-dialog{
	margin-top: 5%;
}
#noteHistory{
	max-height: 350px;
	overflow: auto;
}

#datepickerSD, #datepickerD {
	z-index: 9999;
}

/* override jqueryUI */
.ui-progressbar .ui-progressbar-value{
	margin-top: 0px;
	/* background-color: #15c; */
}
.fc-day-header{
	background-color: #f5f5f0;
}
.fc-event-container, .projectlink, .memName{
	cursor: pointer;
}
.fc-title{
	font-size: 16px;
}

#project-description{
	resize: none;
}
#project-description2{
	resize: none;
}

.error {
    font-size: 10px;
    color: red;
    font-style: italic;
}

.btn-danger{
	background-color: #ff3333;
}

#historyItem{
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom:2px;
}

.requiredflag {
	color: red;
}

textarea{
	resize: none;	
}

/*------------------------*/
#loginHeader{
	text-align: center;
	background-color: #ecf0f1;
	padding: 1px;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #b2b5aa;
}
#loginform{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 30%;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	/* padding: 20px; */
	border-radius: 5px;
}
.header{
	font-size: 16px;
}