<!--------------------------------------------------------------\
| Reuben Turner
\--------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en-US" ng-app="AppMod">
	<head>
		<title>Tracky - Create Team</title>
		<meta charset="UTF-8">
		<link href="CSS/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="CSS/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<!-- LINK TO JQUERY: -->
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<!-- LINKS TO ANGULAR -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js" type="text/javascript"></script>
		<script src="JS/main.js"></script>
	</head>
	<body ng-controller="AppCtrl as ctrl">
		<div id="headerDiv">
			<h1>Tracky</h1>
			<ul>
				<li><a href="dashboard.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="createMember.html"><span class="glyphicon glyphicon-plus"></span> Create Team Member</a></li>
				<li><a href="createTeam.html"><span class="glyphicon glyphicon-plus"></span> Create Team</a></li>
				<li><a href="createProject.html"><span class="glyphicon glyphicon-plus"></span> Create Project</a></li>
			</ul>
		</div>
		<div id="bodyDiv">
			<div class="wrapper">
				<div id="ctmHeader">
					<h3>Create Team</h3>
				</div>
				<div id="ctDiv">
					<label>Team Name</label>
					<input class="form-control" type="text"></input>
					<label>Project</label>
					<select class="form-control">
						<option>Choose a project</option> <!-- this will fill with projects from the db -->
						<!-- load from DB -->
					</select>
					<label>Members</label>
					<div class="input-group">
						<select class="form-control" id="chooseMembers" ng-model="selectItem">
							<option value="">Choose Members</option> 
							<option ng-repeat="member in ctrl.members" id="{{member.id}}">{{member.id}} {{member.first_name}} {{member.last_name}} - {{member.role}}</option>
						</select>
						<span class="input-group-btn">	
							<button class="btn btn-primary" id="addMemberBtn" ng-click="ctrl.addToList(selectItem)">Add member</button>
						</span>
					</div>
					<div>
						<table id="membersToAdd" class="table table-striped">
							<tr ng-repeat="item in ctrl.seletedItems">
								<td>{{item}}</td>
								<td><button class="btn btn-default" ng-click="ctrl.removeFromList($index)">Remove</button></td>
							</tr>
						</table>
					</div>
					<button class="btn btn-default">Create Team</button>
				</div>
			</div>
		</div>
	</body>
</html>