<script>
    var today = new Date();
    $("#datepickerD").attr("min", today);
    $("#datepickerSD").attr("min", today);
    $( function() {
        $( "#datepickerD" ).datepicker({
            minDate: -0, maxDate: "+12M +0D",
            dateFormat: "yy-mm-dd",
            showButtonPanel: true
        });
    } );
    $( function() {
        $( "#datepickerSD" ).datepicker({
            minDate: -0, maxDate: "+12M +0D",
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            setDate: today
        });
    } );
    // Need to get current date
</script>
<div id="bodyDiv">
    <div class="wrapper">
        <div id="ctmHeader">
            <h3>Create Project</h3>
        </div>
        <div id="cpDiv">
            <label>Project Name</label>
            <input ng-model="ctrl.projectObj.name" class="form-control" type="text"></input>
            <label>Description</label>
            <textarea ng-model="ctrl.projectObj.description" class="form-control" rows="5"></textarea>
            <label>Priority</label>
            <select ng-model="ctrl.projectObj.priority" class="form-control">
                <option value="">Choose a Priority</option>
                <option value=1>Low</option>
                <option value=2>Normal</option>
                <option value=3>High</option>
                <option value=4>Critical</option>
            </select>
            <label>Start Date</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type="date" min="" class="form-control" id="datepickerSD" placeholder="Select a date"></input>
            </div>
            <label>Deadline</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type="date" min="" class="form-control" id="datepickerD" placeholder="Select a date"></input>
            </div>
            <label>Status</label>
            <select ng-model="ctrl.projectObj.active" class="form-control">
                <option value="">Choose a Status</option>
                <option value=0>Inactive</option>
                <option value=1>Active</option>
                <option value=2>Completed</option>
            </select>
            <label>Work Remaining</label>
            <input ng-model="ctrl.projectObj.work_remaining" class="form-control" type="text"></input>
            <br>
            <button class="btn btn-default" ng-click="ctrl.createProject()">Create Project</button>
        </div>
    </div>
</div>