<script src="JS/dashboard.js"></script>
<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
			<li role="presentation"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
		</ul>		
	</div>
	<div id="listContainer">
		<div class="table-responsive" id ="projectListDiv">
			<div class="mainDivsHeader">
				<h3 style="font-weight: bold;">{{ctrl.problemProjects}}/{{ctrl.projects.length}} Projects Need Attention</h3>				
			</div>
			<div class="tableDiv">
				<table class="table">
					<tr class="header"><th>Name</th><th>Deadline</th><th>Project Health</th><th>Priority</th><th>Actions</th></tr>
					<tr ng-repeat="project in ctrl.projects" ng-if="(project.project_health < 100 && ctrl.today <= project.deadline) || project.tracked == 1" ng-style="ctrl.changeColor(project.project_health)">
						<td>
							<span class="projectlink" ng-click="ctrl.viewProject(project.id)" title="View {{project.name}}">{{project.name}}</span>
						</td>
						<td>{{project.deadline | date:'MM/dd/yyyy'}}</td>
						<td>
							<progress ng-show="project.status == 1" max="100" value="{{project.project_health}}" ng-style="ctrl.changeColor(project.project_health)"></progress>
							<label ng-show="project.status == 1">{{project.project_health}}%</label>
							<label style="font-style: italic;" ng-show="project.status != 1">{{ctrl.evaluateStatus(project.status)}}</label>
						</td>
						<td>{{ctrl.evaluatePriority(project.priority)}}</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-default" title="Update {{project.name}}" ng-click="ctrl.openProjUpdModal(project.id)" data-toggle="modal" data-target="#updateProjModal">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-info" title="Add a Comment to {{project.name}}" data-toggle="modal" data-target="#notes" ng-click="ctrl.openNotesModal(project.id)" ng-class="{true: 'btn-warning', false: 'btn-info'}[ctrl.hasFlaggedNotes(project.id)]">
									<span class="glyphicon glyphicon-comment"></span>
								</button>
								<button class="btn btn-primary" title="Send email to project team" data-toggle="modal" data-target="#sendEmailModal">
									<span class="glyphicon glyphicon-envelope"></span>
								</button>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<div id="chartContainer"></div>
	</div>
	<div id="calendarDiv">
		<div id="calendar"></div>
	</div>
	<!-- Notes Modal -->
	<div class="modal fade" id="notes" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Notes for Project: {{ctrl.projectObj.name}}</h4>
				</div>
				<div class="modal-body">
					<form name="stringForm" novalidate>
						<textarea class="form-control" ng-model="ctrl.note" name="noten" ng-pattern="ctrl.regex1" id="popupNoteInput" rows="5" required></textarea>
						<span ng-show="stringForm.noten.$error.pattern && stringForm.noten.$dirty" style="color:red">Pattern needs to match....</span>
						<span class="error" ng-show="stringForm.noten.$error.required && stringForm.noten.$dirty">(Text required)</span>
						<div style="text-align:center">
							<button class="btn btn-info" id="addNoteBtn" 
							ng-click="ctrl.addProjNote(ctrl.note, ctrl.projectObj.id); ctrl.note=null">Add Note</button>
						</div>
					</form>
					<button class="btn btn-info" id="clear">Clear</button>
				</div>
				<div id="noteHistory" class="modal-footer" style="text-align:center">
					<div id="historyItem" ng-repeat="note in ctrl.notes | orderBy:'':true track by (note.time_stamp + $index)">
						<p style="text-decoration: underline">{{note.time_stamp | date:'MMM dd, yyyy, h:mm a'}}</p>
						<p>{{note.message}}</p>
						<button class="btn btn-danger" ng-click="ctrl.deleteNote(note.id)" title="Delete note">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button class="btn" ng-class="{true: 'btn-warning', false: 'btn-default'}[note.flagged==1]" ng-click="ctrl.flagNote(note)" title="Flag note">
							<span class="glyphicon glyphicon-flag"></span>
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
	<!-- UpdateProject Modal -->
	<div class="modal fade" id="updateProjModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Update {{project.description}}</h4>
				</div>
				<div class="modal-body">
				<label>ID</label>
				&nbsp;<input id="project-id" size="3" disabled />
				<br>
				<form name="updateproject">
					<label><span class="requiredflag">*</span> Project Name </label><span class="error" ng-show="updateproject.uprojectname.$error.required && updateproject.uprojectname.$dirty">(Required field)</span>
					<input id="project-name" name="uprojectname" class="form-control" type="text" required></input>
					<label>Description</label>
					<textarea id="project-description" class="form-control" rows="5"></textarea>
					<label><span class="requiredflag">*</span> Team</label>
					<select class="form-control" id="team-select" name="team-select" required>
						<option ng-repeat="team in ctrl.teams" value={{team.id}}>{{team.description}}</option>
					</select>
					<label>Priority</label>
					<select id="project-priority" class="form-control">
						<option value=1>Low</option>
						<option value=2>Normal</option>
						<option value=3>High</option>
						<option value=4>Critical</option>
					</select>
					<label>Start Date</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="text" min="" class="form-control" id="datepickerSD" placeholder="Select a date"></input>
					</div>
					<label>Deadline</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="text" min="" class="form-control" id="datepickerD" placeholder="Select a date"></input>
					</div>
					<label>Status</label>
					<select id="project-status" class="form-control">
						<option value=0>Inactive</option>
						<option value=1>Active</option>
						<option value=2>Completed</option>
					</select>
					<label>Phase</label>
					<select id="project-phase" class="form-control">
						<option value="Planning and Analysis">Planning and Analysis</option>
						<option value="Requirements">Requirements</option>
						<option value="Development">Development</option>
						<option value="Testing and Validation">Testing and Validation</option>
						<option value="Integration">Integration</option>
						<option value="Production">Production</option>
					</select>
					<label>Work Remaining</label>
					<input id="project-work" class="form-control" type="text"></input>
				</form>
				<br>
				<button class="btn btn-default" ng-click="ctrl.updateProject()" ng-disabled="!updateproject.uprojectname.$pristine && updateproject.uprojectname.$error.required">Update Project</button>
				<button class="btn" ng-class="{true: 'btn-success', false: 'btn-default'}[ctrl.projectObj.tracked==1]" ng-click="ctrl.trackProject(ctrl.projectObj)" title="Track {{ctrl.projectObj.name}}">
					<span class="glyphicon glyphicon-screenshot"></span> Track Project
				</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
	<!-- ViewProject Modal -->
	<div class="modal fade" id="viewProjModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">View Project </h4>
				</div>
				<div class="modal-body">
					<label>ID</label>
					&nbsp;<input id="project-id2" size="3" disabled />
					<br>
					<label>Project Name</label>
					<input id="project-name2" class="form-control" type="text" disabled></input>
					<label>Description</label>
					<textarea id="project-description2" class="form-control" rows="5" disabled></textarea>
					<label>Team</label>
					<select class="form-control" id="team-select2" ng-model="ctrl.projectObj.team_id" disabled>
						<option value="">Choose a Team</option>
						<option ng-repeat="team in ctrl.teams" value={{team.id}}>{{team.description}}</option>
					</select>
					<label>Priority</label>
					<select id="project-priority2" class="form-control" disabled>
						<option value="">Choose a Priority</option>
						<option value=1>Low</option>
						<option value=2>Normal</option>
						<option value=3>High</option>
						<option value=4>Critical</option>
					</select>
					<label>Start Date</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="date" min="" class="form-control" id="datepickerSD2" placeholder="Select a date"disabled></input>
					</div>
					<label>Deadline</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="date" min="" class="form-control" id="datepickerD2" placeholder="Select a date"disabled ></input>
					</div>
					<label>Status</label>
					<select id="project-status2" class="form-control" disabled>
						<option value="">Choose a Status</option>
						<option value=0>Inactive</option>
						<option value=1>Active</option>
						<option value=2>Completed</option>
					</select>
					<label>Phase</label>
					<select id="project-phase2" class="form-control" disabled>
						<option value="">Choose a Phase</option>
						<option value="Planning and Analysis">Planning and Analysis</option>
						<option value="Requirements">Requirements</option>
						<option value="Development">Development</option>
						<option value="Testing and Validation">Testing and Validation</option>
						<option value="Integration">Integration</option>
						<option value="Production">Production</option>
					</select>
					<label>Work Remaining</label>
					<input id="project-work2" class="form-control" type="text" disabled></input>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
	<!-- SendEmail Modal -->
	<div class="modal fade" id="sendEmailModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Send Email </h4>
				</div>
				<div class="modal-body">
					<form onsubmit="return sendEmail();">
						<div class="modal-body">
							<div class="form-group">
								<input type="email" value="projectteam1@discard.email" class="form-control" id="compose-to" placeholder="To" disabled />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="compose-subject" placeholder="Subject" required />
							</div>	
							<div class="form-group">
								<textarea class="form-control" id="compose-message" placeholder="Message" rows="10" required></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" id="send-button" class="btn btn-primary">Send</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
</div>
<script type="text/javascript">
	var clientId = '553510102444-jdp3tj950hu1sefuv696fceo38v08ggd.apps.googleusercontent.com';
	var apiKey = 'AIzaSyAEryzbkF_VxmRPYTpCcaDUduZnMdnoE4k';
	var scopes =
	'https://www.googleapis.com/auth/gmail.readonly '+
	'https://www.googleapis.com/auth/gmail.send';
	
	function handleClientLoad() {
		gapi.client.setApiKey(apiKey);
		window.setTimeout(checkAuth, 1);
	}
	
	function checkAuth() {
		gapi.auth.authorize({
			client_id: clientId,
			scope: scopes,
			immediate: true
		}, handleAuthResult);
	}
	
	function handleAuthClick() {
		gapi.auth.authorize({
			client_id: clientId,
			scope: scopes,
			immediate: false
		}, handleAuthResult);
		return false;
	}
	
	function handleAuthResult(authResult) {
		if(authResult && !authResult.error) {
			loadGmailApi();
			$('#authorize-button').remove();
			$('.table-inbox').removeClass("hidden");
			$('#compose-button').removeClass("hidden");
		} else {
			$('#authorize-button').removeClass("hidden");
			$('#authorize-button').on('click', function(){
				handleAuthClick();
			});
		}
	}
	
	function loadGmailApi() {
		gapi.client.load('gmail', 'v1', displayInbox);
	}
	
	function displayInbox() {
		var request = gapi.client.gmail.users.messages.list({
			'userId': 'me',
			'labelIds': 'INBOX',
			'maxResults': 10
		});
		request.execute(function(response) {
			$.each(response.messages, function() {
				var messageRequest = gapi.client.gmail.users.messages.get({
					'userId': 'me',
					'id': this.id
				});
				messageRequest.execute(appendMessageRow);
			});
		});
	}
	
	function appendMessageRow(message) {
		$('.table-inbox tbody').append(
		'<tr>\
		<td>'+getHeader(message.payload.headers, 'From')+'</td>\
		<td>\
		<a href="#message-modal-' + message.id +
		'" data-toggle="modal" id="message-link-' + message.id+'">' +
		getHeader(message.payload.headers, 'Subject') +
		'</a>\
		</td>\
		<td>'+getHeader(message.payload.headers, 'Date')+'</td>\
		</tr>'
		);
		var reply_to = (getHeader(message.payload.headers, 'Reply-to') !== '' ?
		getHeader(message.payload.headers, 'Reply-to') :
		getHeader(message.payload.headers, 'From')).replace(/\"/g, '&quot;');
		
		var reply_subject = 'Re: '+getHeader(message.payload.headers, 'Subject').replace(/\"/g, '&quot;');
		$('body').append(
		'<div class="modal fade" id="message-modal-' + message.id +
		'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">\
		<div class="modal-dialog modal-lg">\
		<div class="modal-content">\
		<div class="modal-header">\
		<button type="button"\
		class="close"\
		data-dismiss="modal"\
		aria-label="Close">\
		<span aria-hidden="true">&times;</span></button>\
		<h4 class="modal-title" id="myModalLabel">' +
		getHeader(message.payload.headers, 'Subject') +
		'</h4>\
		</div>\
		<div class="modal-body">\
		<iframe id="message-iframe-'+message.id+'" srcdoc="<p>Loading...</p>">\
		</iframe>\
		</div>\
		<div class="modal-footer">\
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
		<button type="button" class="btn btn-primary reply-button" data-dismiss="modal" data-toggle="modal" data-target="#reply-modal"\
		onclick="fillInReply(\
		\''+reply_to+'\', \
		\''+reply_subject+'\', \
		\''+getHeader(message.payload.headers, 'Message-ID')+'\'\
		);"\
		>Reply</button>\
		</div>\
		</div>\
		</div>\
		</div>'
		);
		$('#message-link-'+message.id).on('click', function(){
			var ifrm = $('#message-iframe-'+message.id)[0].contentWindow.document;
			$('body', ifrm).html(getBody(message.payload));
		});
	}
	
	function sendEmail()
	{
		$('#send-button').addClass('disabled');
		
		sendMessage(
		{
			'To': $('#compose-to').val(),
			'Subject': $('#compose-subject').val()
		},
		$('#compose-message').val(),
		composeTidy
		);
		
		return false;
	}
	
	function composeTidy()
	{
		alert("Message Sent!");
		$('#sendEmailModal').modal('hide');
		
		$('#compose-subject').val('');
		$('#compose-message').val('');
		
		$('#send-button').removeClass('disabled');
	}
	
	
	function sendMessage(headers_obj, message, callback)
	{
		var email = '';
		
		for(var header in headers_obj)
		email += header += ": "+headers_obj[header]+"\r\n";
		
		email += "\r\n" + message;
		
		var sendRequest = gapi.client.gmail.users.messages.send({
			'userId': 'me',
			'resource': {
				'raw': window.btoa(email).replace(/\+/g, '-').replace(/\//g, '_')
			}
		});
		
		return sendRequest.execute(callback);
	}
	
	function getHeader(headers, index) {
		var header = '';
		$.each(headers, function(){
			if(this.name.toLowerCase() === index.toLowerCase()){
				header = this.value;
			}
		});
		return header;
	}
	
	function getBody(message) {
		var encodedBody = '';
		if(typeof message.parts === 'undefined')
		{
			encodedBody = message.body.data;
		}
		else
		{
			encodedBody = getHTMLPart(message.parts);
		}
		encodedBody = encodedBody.replace(/-/g, '+').replace(/_/g, '/').replace(/\s/g, '');
		return decodeURIComponent(escape(window.atob(encodedBody)));
	}
	
	function getHTMLPart(arr) {
		for(var x = 0; x <= arr.length; x++)
		{
			if(typeof arr[x].parts === 'undefined')
			{
				if(arr[x].mimeType === 'text/html')
				{
					return arr[x].body.data;
				}
			}
			else
			{
				return getHTMLPart(arr[x].parts);
			}
		}
		return '';
	}
</script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>