<script>
	$(document).ready(function(){
		var projects = [];		
		
		$("#calendar").fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			weekends: false,
			nowIndicator: true,
			events: function(start, end, callback){
				$.ajax({
					url: 'http://localhost:8080/projects'
				}).then(function(projects){
					//console.log("AJAX CALL PERFORMED");
					for(var count = 0; count < projects.length; count++){
						var event = {
							title: projects[count].description,
							start: projects[count].start_date,
							end: projects[count].deadline,
							textColor: 'black'
						};
						$("#calendar").fullCalendar('renderEvent', event);
					}
				});		
			}
		});
		
		$("#closeModal").click(function(){
			$("#popupNoteInput").val("");
			console.log("CLICK");
		});
		$("#x").click(function(){
			$("#popupNoteInput").val("");
			console.log("CLICK");
		});
	});
</script>
<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div>
	<div id="listContainer">
		<div class="table-responsive" id ="projectListDiv">
			<div class="mainDivsHeader">
				<h3>Projects That Need Attention</h3>				
			</div>
			<div class="tableDiv">
				<table class="table">
					<tr><th>Name</th><th>Deadline</th><th>Project Health</th><th>Priority</th><th>Actions</th></tr>
					<tr ng-repeat="project in ctrl.projects | orderBy:project.project_health:true" ng-if="project.project_health < 100 && ctrl.today < project.deadline" ng-style="ctrl.changeColor(project.project_health)">
						<td>{{project.name}}</td>
						<td>{{project.deadline | date:'MMM dd, yyyy'}}</td>
						<td>
							<progress max="100" value="{{project.project_health}}" ng-style="{ctrl.changeColor(project.project_health)}"></progress>
							<label>{{project.project_health}}%</label>
						</td>
						<td>{{project.priority}}</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-default" title="Update Project" ng-click="ctrl.toUpdProj(project.id)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button class="btn btn-info" title="Add a Comment" data-toggle="modal" data-target="#notes" ng-click="ctrl.passToNotes(project.id)"><span class="glyphicon glyphicon-comment"></span></button>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="calendarDiv">
			<div id="calendar"></div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="notes" role="dialog">
			<div class="modal-dialog">			
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
						<h4 class="modal-title">Notes for {{ctrl.projectObj.name}}</h4>
					</div>
					<div class="modal-body">
						<textarea class="form-control" id="popupNoteInput" rows="5"></textarea>
						<br>
							<div style="text-align:center">
							<button class="btn btn-info">Add Note</button>
						</div>
					</div>
					<div class="modal-footer" style="text-align:center">
						<p>Note history will be here</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>