<div id="bodyDiv">
	<div class="wrapper">
		<div id="ctmHeader">
			<h3>Update Team</h3>
		</div>
		<div id="ctDiv">
			<label>ID</label>
            &nbsp;<input id="team-id" size="3" disabled />
			<br>
			<label>Description</label>
			<input class="form-control" id="description" type="text" ></input>
			<label>Members</label>
			<select class="form-control" id="chooseMembers">
				<option value="">Choose Members</option> 
				<option ng-repeat="member in ctrl.members" value={{member.id}}>{{member.id}} {{member.first_name}} {{member.last_name}} - {{member.role}}</option>
			</select>
			<br>
			<button class="btn btn-default" ng-click="ctrl.updateTeam()">Update Team</button>
		</div>
	</div>
</div>