<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation" class="active"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div>
	<div id="memberList">
		<table class="table table-striped">
			<tr><th>Employee ID</th><th>Name</th><th>GS Grade</th><th>Role</th><th>Actions</th></tr>
			<tr ng-repeat="member in ctrl.members">
				<td>{{member.id}}</td>
				<td>{{member.first_name}} {{member.last_name}}</td>
				<td>{{member.gs_grade}}</td>
				<td>{{member.role}}</td>
				<td>
					<button class="btn btn-default" ng-click="ctrl.toUpdMem(member.id)">Update</button> 
					<button class="btn btn-danger" ng-click="ctrl.deleteMember(member.id)">Delete</button>
				</td>
			</tr>
		</table>
	</div>
</div>