<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation" class="active"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div>
	<div id="teamList">
		<table class="table table-striped">
			<tr><th>Team ID</th><th>Description</th><th>ID of Team Member</th><th>Actions</th></tr>
			<tr ng-repeat="team in ctrl.teams">
				<td>{{team.id}}</td>
				<td>{{team.description}}</td>
				<td>{{team.member_id}}</td>
				<td><button class="btn btn-default" ng-click="ctrl.toUpdTeam(team.id, team.member_id)">Update</button> 
				<button class="btn btn-danger" ng-click="ctrl.deleteTeam(team.id)">Delete</button></td>
			</tr>
		</table>
	</div>
</div>