<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation" class="active"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div>
	<div id="memberList">
		<table class="table table-striped">
			<tr><th>Employee ID</th><th>Name</th><th>GS Grade</th><th>Role</th><th>Actions</th></tr>
			<tr ng-repeat="member in ctrl.members">
				<td>{{member.id}}</td>
				<td>{{member.first_name}} {{member.last_name}}</td>
				<td>{{member.gs_grade}}</td>
				<td>{{member.role}}</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-default" ng-click="ctrl.openMemberUpdModal(member.id)" data-toggle="modal" data-target="#updateMemberModal" title="Update {{member.first_name}} {{member.last_name}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</button> 
						<button class="btn btn-danger" ng-click="ctrl.deleteMember(member.id)" title="Delete {{member.first_name}} {{member.last_name}}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="updateMemberModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Update {{member.first_name}} {{member.last_name}}</h4>
				</div>
				<div class="modal-body">
					<label>ID</label>
					&nbsp;<input id="member-id" size="5" disabled />
					<br>
					<form name="updatemember">
						<label>First Name </label><span class="error" ng-show="updatemember.firstname.$error.required && updatemember.firstname.$dirty">(Required field)</span>
						<input name="firstname" id="first-name" ng-model="firstname" class="form-control" type="text" required></input>
						<label>Last Name </label><span class="error" ng-show="updatemember.lastname.$error.required && updatemember.lastname.$dirty">(Required field)</span>
						<input name="lastname" ng-model="lastname" id="last-name" class="form-control" type="text" required></input>
						<label>GS Grade</label>
						<select id="gs-grade" class="form-control">
							<option value="">Choose a Grade</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
						<label>Role</label>
						<select id="role" class="form-control">
							<option value="">Choose a Role</option>
							<option value="Developer">Developer</option>
							<option value="Analyst">Analyst</option>
							<option value="Validator">Validator</option>
							<option value="Team Lead">Team Lead</option>
							<option value="Project Manager">Project Manager</option>
						</select>
					</form>
					<br>
					<button ng-click="ctrl.updateMember()" class="btn btn-default" ng-disabled="(!updatemember.firstname.$pristine && updatemember.firstname.$error.required) || (!updatemember.lastname.$pristine && updatemember.lastname.$error.required)">Update Member</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
</div>