<script>
	$(document).ready(function(){
		$("#closeModal").click(function(){
			$("#popupNoteInput").val("");
		});
		$("#x").click(function(){
			$("#popupNoteInput").val("");
		});
		$("#clear").click(function(){
			$("#popupNoteInput").val("");
		});
	});
</script>
<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation" class="active"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div>
	<div id="teamList" style="width:60%; float:left; margin-left: 10%;">
		<table class="table table-striped">
			<tr><th>Team ID</th><th>Team Name</th><th>ID of Team Member</th><th>Actions</th></tr>
			<tr ng-repeat="team in ctrl.teams">
				<td>{{team.id}}</td>
				<td>{{team.description}}</td>
				<td>{{team.member_id}}</td>
				<td>				
					<div class="btn-group">
						<button class="btn btn-default" ng-click="ctrl.openTeamUpdModal(team.id)" data-toggle="modal" data-target="#updateTeamModal" title="Update {{team.description}} Team">
							<span class="glyphicon glyphicon-pencil"></span>
						</button> 
						<button class="btn btn-danger" ng-click="ctrl.deleteTeam(team.id)" title="Delete {{team.description}} Team">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="updateTeamModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Update {{team.description}}</h4>
				</div>
				<div class="modal-body">
					<label>ID</label>
					&nbsp;<input id="team-id" size="6" disabled />
					<br>
					<label>Team Name</label>
					<input class="form-control" id="description" type="text" ></input>
					<label>Members</label>
					<select class="form-control" id="chooseMembers">
						<option value="">Choose Members</option> 
						<option ng-repeat="member in ctrl.members" value={{member.id}}>{{member.id}} {{member.first_name}} {{member.last_name}} - {{member.role}}</option>
					</select>
					<br>
					<button class="btn btn-default" ng-click="ctrl.updateTeam()">Update Team</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
</div>