<script>
	$(document).ready(function(){
		$("#closeModal").click(function(){
			$("#popupNoteInput").val("");
		});
		$("#x").click(function(){
			$("#popupNoteInput").val("");
		});
		$("#clear").click(function(){
			$("#popupNoteInput").val("");
		});
		
		$.ajax({
			method: 'GET',
			url: "http://localhost:8080/members"
			}).then(function(resp) {
			for(var i = 0; i < resp.length; i++){
				var id = resp[i].id;
				var fullname = resp[i].first_name + " " + resp[i].last_name;
				$("#" + id).text(fullname);
			}
		})
	});
</script>
<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation" class="active"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div> 
	<div id="teamList"> 
		<table class="table table-striped">
			<tr class="header"><th>Team ID</th><th>Team Name</th><th>Team Member</th><th>Actions</th></tr>
			<tr ng-repeat="team in ctrl.teams">
				<td>{{team.id}}</td>
				<td>{{team.description}}</td>
				<td><span id="{{team.member_id}}"></span></td>
				<td>				
					<div class="btn-group">
						<button class="btn btn-default" ng-click="ctrl.openTeamUpdModal(team.id)" data-toggle="modal" data-target="#updateTeamModal" title="Update {{team.description}} Team">
							<span class="glyphicon glyphicon-pencil"></span>
						</button> 
						<button class="btn btn-danger" ng-click="ctrl.deleteTeam(team.id)" title="Delete {{team.description}} Team">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<!-- <button class="btn btn-info" title="log member name" ng-click="ctrl.getMemberName(team.member_id)">
							<span class="glyphicon glyphicon-align-left"></span>
						</button> -->
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="updateTeamModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Update {{team.description}}</h4>
				</div>
				<div class="modal-body">
					<label>ID</label>
					&nbsp;<input id="team-id" size="6" disabled />
					<br>
					<form name="updateteam">
						<label><span class="requiredflag">*</span> Team Name</label><span class="error" ng-show="updateteam.description.$error.required && updateteam.description.$dirty">(Required field)</span>
						<input name="description" ng-model="description" class="form-control" id="description" type="text" required></input>
						<label>Members</label>
						<select class="form-control" id="chooseMembers">
							<option ng-repeat="member in ctrl.members" value={{member.id}}>{{member.id}} {{member.first_name}} {{member.last_name}} - {{member.role}}</option>
						</select>
					</form>
					<br>
					<button class="btn btn-default" ng-click="ctrl.updateTeam()" ng-disabled="!updateteam.description.$pristine && updateteam.description.$error.required">Update Team</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
</div>