<script>
    var today = new Date();
    $("#datepickerD").attr("min", today);
    $("#datepickerSD").attr("min", today);
    $( function() {
        $( "#datepickerD" ).datepicker({
            minDate: "-12M -0D", maxDate: "+12M +0D",
            dateFormat: "yy-mm-dd",
            showButtonPanel: true
        });
    } );
    $( function() {
        $( "#datepickerSD" ).datepicker({
            minDate: "-12M -0D", maxDate: "+12M +0D",
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            setDate: today
        });
    } );
    // Need to get current date
	
	$("#closeModal").click(function(){
		$("#popupNoteInput").val("");
	});
	$("#x").click(function(){
		$("#popupNoteInput").val("");
	});
	$("#clear").click(function(){
		$("#popupNoteInput").val("");
	});
	$("#addNoteBtn").click(function(){
		$("#popupNoteInput").val("");
	});
</script>
<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation" class="active"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div>
	<div id="projectList">
		<table class="table table-striped">
			<tr><th>Name</th><th>Description</th><th>Team</th><th>Status</th><th>Priority</th><th>Start Date</th><th>Deadline</th><th>Work Remaining</th><th>Actions</th></tr>
			<tr ng-repeat="project in ctrl.projects">
				<td>{{project.name}}</td>
				<td>{{project.description}}</td>
				<td>{{project.team_id}}</td>
				<td>{{project.status}}</td>
				<td>{{project.priority}}</td>
				<td>{{project.start_date | date:'MM/dd/yyyy'}}</td>
				<td>{{project.deadline | date:'MM/dd/yyyy'}}</}}</td>
				<td>{{project.work_remaining}} hours</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-default" ng-click="ctrl.openProjUpdModal(project.id)" title="Update {{project.name}}" data-toggle="modal" data-target="#updateProjModal">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button class="btn btn-info" title="Add a Comment to {{project.name}}" data-toggle="modal" data-target="#notes" ng-click="ctrl.passToNotes(project.id)">
							<span class="glyphicon glyphicon-comment"></span>						
						</button>			
						<button class="btn btn-danger" ng-click="ctrl.deleteProject(project.id)" title="Delete {{project.name}}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="notes" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Notes for Project: {{ctrl.projectObj.name}}</h4>
				</div>
				<div class="modal-body">
					<textarea class="form-control" id="popupNoteInput" rows="5"ng-model="ctrl.note"></textarea>
					<br>
					<div style="text-align:center">
						<button class="btn btn-info" id="addNoteBtn" ng-click="ctrl.addProjNote(ctrl.note, ctrl.projectObj.id)">Add Note</button>
						<button class="btn btn-info" id="clear">Clear</button>
					</div>
				</div>
				<div id="noteHistory" class="modal-footer" style="text-align:center">
					<div id="historyItem" style="text-align: left;border-bottom: 1px solid #e5e5e5" ng-repeat="note in ctrl.notes | orderBy:'':true track by (note.time_stamp + $index)">
						<p style="text-decoration: underline">{{note.time_stamp | date:'MMM dd, yyyy, h:mm a'}}</p>
						<p>{{note.message}}</p>
						<button class="btn btn-danger" ng-click="ctrl.deleteNote(note.id, ctrl.projectObj.id)"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="updateProjModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Update {{project.description}}</h4>
				</div>
				<div class="modal-body">
                    <label>ID</label>
                    &nbsp;<input id="project-id" size="3" disabled />
                    <br>
					<form name="updateproject">
						<label>Project Name </label><span class="error" ng-show="updateproject.uprojectname.$error.required && updateproject.uprojectname.$dirty">(Required field)</span>
						<input id="project-name" name="uprojectname" ng-model="ctrl.projectObj.name" class="form-control" type="text" required></input>
						<label>Description</label>
						<textarea id="project-description" ng-model="ctrl.projectObj.description" class="form-control" rows="5"></textarea>
						<label>Team </label>
						<select class="form-control" id="team-select" name="team-select" ng-model="ctrl.projectObj.team_id" required>
							<option ng-repeat="team in ctrl.teams" value={{team.id}}>{{team.description}}</option>
						</select>
						<label>Priority</label>
						<select id="project-priority" ng-model="ctrl.projectObj.priority" class="form-control">
							<option value="">Choose a Priority</option>
							<option value=1>Low</option>
							<option value=2>Normal</option>
							<option value=3>High</option>
							<option value=4>Critical</option>
						</select>
						<label>Start Date</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<input type="date" min="" class="form-control" id="datepickerSD" placeholder="Select a date"></input>
						</div>
						<label>Deadline</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<input type="date" min="" class="form-control" id="datepickerD" placeholder="Select a date"></input>
						</div>
						<label>Status</label>
						<select id="project-status" ng-model="ctrl.projectObj.status" class="form-control">
							<option value="">Choose a Status</option>
							<option value=0>Inactive</option>
							<option value=1>Active</option>
							<option value=2>Completed</option>
						</select>
						<label>Phase</label>
						<select id="project-phase" ng-model="ctrl.projectObj.phase" class="form-control">
							<option value="">Choose a Phase</option>
							<option value="Planning and Analysis">Planning and Analysis</option>
							<option value="Requirements">Requirements</option>
							<option value="Development">Development</option>
							<option value="Testing and Validation">Testing and Validation</option>
							<option value="Integration">Integration</option>
							<option value="Production">Production</option>
						</select>
						<label>Work Remaining</label>
						<input id="project-work" ng-model="ctrl.projectObj.work_remaining" class="form-control" type="text"></input>
					</form>
                    <br>
					<button class="btn btn-default" ng-click="ctrl.updateProject()" ng-disabled="updateproject.uprojectname.$error.required || updateproject.team-select.$error.required">Update Project</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
</div>